<h6 style="color: white"><a routerLink="/">Home</a> > résultats </h6>
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-8">
      <mat-card class="entete" style="background-color: darkslategray">
        <mat-card-header>
          Résultats 
          <!-- <mat-card-title>Résultats</mat-card-title> -->
          </mat-card-header>
    </mat-card>
    <mat-card id="card-home">
      <mat-card class="event-card">
        <h6>Football : coupe du monde</h6>
        <mat-card-content>
          <table class="table table-dark table-striped">
            <tbody>
              <tr>
                <td>26/8/2018</td>
                <td>18h30</td>
                <td>1/8 de finale</td>
                <td>Brésil-Pérou</td>
                <td>2-1</td>
              </tr>
              <tr>
                <td>26/8/2018</td>
                <td>20h30</td>
                <td>Match de poule</td>
                <td>France-Allemagne</td>
                <td>4-1</td>
              </tr>
              <tr>
                <td>25/8/2018</td>
                <td>17h30</td>
                <td>Match de poule</td>
                <td>Japon-Nigéria</td>
                <td>1-1</td>
              </tr>
              <tr>
                  <td colspan="5"><h6>Rugby : coupe du Monde</h6></td>
              </tr>
              <tr>
                  <td>26/8/2018</td>
                  <td>18h30</td>
                  <td>1/8 de finale</td>
                  <td>Australie-Tonga</td>
                  <td>28-12</td>
                </tr>
                <tr>
                  <td>26/8/2018</td>
                  <td>20h30</td>
                  <td>1/8 de finale</td>
                  <td>NZ-Irlande</td>
                  <td>26-19</td>
                </tr>
                <tr>
                  <td>25/8/2018</td>
                  <td>17h30</td>
                  <td>1/8 de finale</td>
                  <td>Afrique du sud-Angleterre</td>
                  <td>41-39</td>
                </tr>



            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
      <!-- <mat-card class="event-card">
          <h6>Rugby : coupe du monde</h6>
          <mat-card-content> -->
            <!-- <table class="table table-dark table-striped">
              <tbody>
                <tr>
                  <td>26/8/2018</td>
                  <td>18h30</td>
                  <td>1/8 de finale</td>
                  <td>Australie-Tonga</td>
                  <td>28-12</td>
                </tr>
                <tr>
                  <td>26/8/2018</td>
                  <td>20h30</td>
                  <td>1/8 de finale</td>
                  <td>NZ-Irlande</td>
                  <td>26-19</td>
                </tr>
                <tr>
                  <td>25/8/2018</td>
                  <td>17h30</td>
                  <td>1/8 de finale</td>
                  <td>Afrique du sud-Angleterre</td>
                  <td>41-39</td>
                </tr>
              </tbody>
            </table> -->
          <!-- </mat-card-content>
        </mat-card> -->
    </mat-card>
    </div>
    <div class="col">     
        <!-- <app-classement></app-classement> -->
    </div>
  </div>
</div>

