<div class="container" style="margin-top: 10px">
  <div class="row">
    <form class="form-horizontal" [formGroup]="formUpdatePlayer" (ngSubmit)="update()">
      <div class="form-group">
        <h5>
          <p>Editer Joueur</p>
        </h5>
        <br>
          <div class="col-s-6" >
          <input type="text" class="form-control" formControlName="firstName" id="firstName" >
          <span>{{ player.firstName }}</span>
        </div>
        <div class="col-s-6">
          <input type="text" class="form-control" formControlName="lastName" id="lastName">
        </div>
        <div class="col-s-6">
          <input type="text" class="form-control" formControlName="mail" id="mail">
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
        <button class="btn btn-secondary" (click)="reset()">Annuler</button>
      </div>
    </form>
  </div>
</div>
