<h6 style="color: white"><a routerLink="/">Home</a> > compétitions </h6>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-7 " id="magrid">

            <mat-grid-list cols="2">
                <mat-grid-tile>
                    <a routerLink="../pronostics">
                        <img src="../../../assets/Media/images/ligue1.png" style="height: 150px;width: 150px" class="rounded">
                        <!-- <p style="color: white">Pronostics</p> -->
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a routerLink="../pronostics">
                        <img src="../../../assets/Media/images/coupe-du-monde-trophee-illustration-fc8e87-0@1x.jpeg" style="height: 150px;width: 150px" class="rounded">
                        <!-- <p style="color: white">Pronostics</p> -->
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a routerLink="../pronostics">
                        <img src="../../../assets/Media/images/uefa.png" style="height: 150px;width: 150px" class="rounded">
                        <!-- <p style="color: white">Pronostics</p> -->
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a routerLink="../pronostics">
                        <img src="../../../assets/Media/images/coupeLigue.png" style="height: 150px;width: 150px" class="rounded">
                        <!-- <p style="color: white">Pronostics</p> -->
                    </a>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div class="col"></div>
    </div>
</div>