a{
    color: white;
}

button{
    font-size: 11px;
    width: 100px;
}

td{
    margin-top: 50%;
    vertical-align: middle;
    font-size: 12px;
    min-width: 70px;
}
.chrono{
    vertical-align: middle;
}

.material-icons{
    float: right;
    margin: 10px;
}


